:root{
--primary-text-color: #757575;
--title-text:#212121;
--accent-color: #2196F3;
--accent-new-color: #FFFFFF;
--prymary-background-color: #FFFFFF;
}


body {
  background-color: var(--accent-new-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
/* цвет основного текста #212121 */

/* вторичний цвет #757575 */

/* белий #FFFFFF */

/* синий #2196F3 */
/* fon #E5E5E5*/ 
/*fon2  #F5F4FA*/
/* #000000  цвет logo */
/*  fon footer 2F303A */

.section{
  padding: 94px 0;
}

.container{
 max-width: 1200px;
 padding-left: 15px;
 padding-right: 15px;
 margin: 0 auto;
 outline: 2px solid red;
}

.page-header{
  background-color: var(--accent-new-color);
  border-bottom: 1px solid #ECECEC;
}

.main-nav{
  display: flex;
  align-items: center;
}

.logo {
  color:#000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-bloe {
  color: var(--accent-color)
}

.site-nav{
  display: flex;
  margin-left: 40px;
}

.site-nav .item{
  margin-right: 50px;
}

.site-nav .item:last-child{
  margin-right: 0;
}

.site-nav .link {
  display: block;
 padding-top: 32px;
 padding-bottom: 32px; 

color: var(--title-text);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
text-decoration: none;
}

.site-nav .link:hover, 
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current{
  color: var(--accent-color);
}

/* сылка авторизации */
.auth-link .link:hover,
.auth-link .link:focus {
  color: var(--accent-color);
}

.auth-link{
  display: flex;
  margin-left: auto;
}

.auth-link .item + .item{
margin-left: 50px;
}

.auth-link .link {
  color: var(--primary-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
text-decoration: none;
}


/* Банер */
.banner{
  text-align: center;  
  background:  #2F303A;
  padding: 200px 0;
}
.banner .banner-subtitle{
  margin-top: 0;
  margin-bottom: 0;
 font-weight: 900;
 font-size: 44px;
 line-height: 1.36;
 text-align: center;
 text-transform: uppercase;
 color: var(--accent-new-color);
}
/* Кнопка */
.banner .button{
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  color: var(--title-text);
  width: 200px;
  border-radius: 4px;
  background-color: var(--prymary-background-color);  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;  
  cursor: pointer;
}

.button.primary{ 
  color: var(--accent-new-color);
  background-color: var(--accent-color);
}

/* Организхационные моменты */

.visually {
  position: absolute;
  clip: rect(0000);
  width: 1px;
  right: 1px;
  margin: 1px;
}

.features {
  background: #FFFFFF;
  padding-bottom: 0;
}

.moment{
  display: flex;
}
 .moment .item{
  margin-right: 30px;
 }

 .features-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text)
}

 .features-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Чем мы занимаемся */

.work{
  background: #FFFFFF;
}
.work-container{
  display: flex;
}

.work-img{
  margin-right: 30px;
}

.work-img:last-child{
  margin-right: 0;
}

 .work-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text);
}

/* nasha komanda */
.our-team{
  background: #F5F4FA;
}

.our-team-container{
  display: flex;
}

.our-team-men{
  margin-right: 30px;
}
.our-team-men:last-child{
  margin-right: 0;
}

 .our-team-title{
font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text);
}

 .our-team-name{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text);
}

 .our-team-job{
 font-size: 16px;
 line-height: 1.19;
 text-align: center;
 letter-spacing: 0.03em;
 color: var(--primary-text-color);
}


.footer{
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo{
  color:var(--accent-new-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.adres{
 color: var(--accent-new-color);
 font-family: Roboto;
 font-style: normal;
 font-size: 14px;
 line-height: 1.71;
 letter-spacing: 0.03em;
}

.footer .adres-link:hover,
.footer .adres-link:focus {
  color: var(--accent-color);
}

.footer .adres-link {
 font-style: normal;
 font-size: 14px;
 line-height: 1.71;
 letter-spacing: 0.03em;
 color: rgba(255, 255, 255, 0.6);
 text-decoration: none;
}

/* страница портфолио */

 .portfolio{
   display: flex;
   justify-content: center;
 }

 .project{
  display: flex;
  flex-wrap: wrap;
 }

 .element{
   width: 370px;
   margin-right: 30px;
 }

 .element:nth-child(3n){
   margin-right: 0px;
 }

 .portfolio{
 margin-bottom: 50px;
 }

.portfolio .button {
   margin-right: 8px;
  color: var(--title-text);
  background-color: var(--prymary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.portfolio li:last-child .button{
margin-right: 0;
}

.portfolio .button.primary {
  color: var(--accent-new-color);
  background-color: var(--accent-color);
}
.portfolio .button:hover {
  background-color: var(--accent-color);
  color: var(--accent-new-color);
}

.project .project-link{
  text-decoration: none;
  border: 1px solid #EEEEEE;
  display: block;
}
.project .project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--title-text);
}

.project .text{
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
text-align: center;
color: var(--primary-text-color);
}


















